
{
  "ConnectionStrings": {
    "Platform": "User ID=postgres;Password=postgres;Server=localhost;Port=5432;Database=openchain_platform;Pooling=true;"
  },
  "OpenchainPlatformOptions": {
    "ServerUrl": "http://localhost:8000",
    "IssuanceAccount": {
      "Seed": "gaze penalty forward noble meadow lesson author sea gesture broom napkin turkey",
      "Passphrase": "openchain"
    }
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}
